<div class="bg-dark bg-gradient text-white px-5">
    <div class="container">
        <footer class="pt-5">
            <div class="row">
                <div class="col-6 col-md-2 mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#"
                                class="nav-link link-light p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-2"><a href="#"
                                class="nav-link link-light p-0 text-body-secondary">Features</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#"
                                class="nav-link link-light p-0 text-body-secondary">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#"
                                class="nav-link link-light p-0 text-body-secondary">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#"
                                class="nav-link link-light p-0 text-body-secondary">About</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#"
                                class="nav-link link-light p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-2"><a href="#"
                                class="nav-link link-light p-0 text-body-secondary">Features</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#"
                                class="nav-link link-light p-0 text-body-secondary">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#"
                                class="nav-link link-light p-0 text-body-secondary">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#"
                                class="nav-link link-light p-0 text-body-secondary">About</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#"
                                class="nav-link link-light p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-2"><a href="#"
                                class="nav-link link-light p-0 text-body-secondary">Features</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#"
                                class="nav-link link-light p-0 text-body-secondary">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#"
                                class="nav-link link-light p-0 text-body-secondary">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#"
                                class="nav-link link-light p-0 text-body-secondary">About</a></li>
                    </ul>
                </div>
                <div class="col-md-5 offset-md-1 mb-3">
                    <form>
                        <h5>Subscribe to our newsletter</h5>
                        <p>Monthly digest of what's new and exciting from us.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Email address</label>
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                            <button class="btn btn-primary" type="button">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="d-flex flex-column flex-sm-row justify-content-between pt-2 border-top ">
                <p>© 2023 Fpoly, Huybeeone. All rights reserved.</p>
                <ul class="d-flex list-unstyled">
                    <li class="ms-3"><a class="link-body-emphasis link-light" href="#"><i
                                class="fab fa-twitter"></i></a></li>
                    <li class="ms-3"><a class="link-body-emphasis link-light" href="#"><i
                                class="fab fa-facebook"></i></a></li>
                    <li class="ms-3"><a class="link-body-emphasis link-light" href="#"><i
                                class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>

<div id="mySidenav" class="sidenav">
    <h3 class="text-light px-4">My cart</h3>
    <a href="javascript:void(0)" class="closebtn px-2 m-0" onclick="closeNav()">&times;</a>
    <div class="box-cart p-2">
        <div class="bg-light cart">
            <div class="item-in-cart">
                <div class="row">

                    <div class="px-3 py-2 d-flex justify-content-center position-relative">
                        <div class="d-flex align-items-center border-bottom p-1">
                            <img src="asset/img/product-demo.webp" alt="" height="50" width="50">
                            <div class="d-flex flex-column px-2">
                                <small>Laptop ASUS TUF Gaming FX506HC-HN144W</small>
                                <div>
                                    <span>15.000.000 đ x</span><input class="col-2 mx-2" type="number" min="1"
                                        value="1"><span>SL</span>
                                </div>
                                <b>15.000.000 đ</b>
                                <a href="javascript:void(0)" class="delete-item p-2 m-0">&times;</a>
                            </div>
                        </div>
                    </div>
                    <div class="px-3 py-2 d-flex justify-content-center position-relative">
                        <div class="d-flex align-items-center border-bottom p-1">
                            <img src="asset/img/product-demo.webp" alt="" height="50" width="50">
                            <div class="d-flex flex-column px-2">
                                <small>Laptop ASUS TUF Gaming FX506HC-HN144W</small>
                                <div>
                                    <span>15.000.000 đ x</span><input class="col-2 mx-2" type="number" min="1"
                                        value="1"><span>SL</span>
                                </div>
                                <b>15.000.000 đ</b>
                                <a href="javascript:void(0)" class="delete-item p-2 m-0">&times;</a>
                            </div>
                        </div>
                    </div>
                    <div class="px-3 py-2 d-flex justify-content-center position-relative">
                        <div class="d-flex align-items-center border-bottom p-1">
                            <img src="asset/img/product-demo.webp" alt="" height="50" width="50">
                            <div class="d-flex flex-column px-2">
                                <small>Laptop ASUS TUF Gaming FX506HC-HN144W</small>
                                <div>
                                    <span>15.000.000 đ x</span><input class="col-2 mx-2" type="number" min="1"
                                        value="1"><span>SL</span>
                                </div>
                                <b>15.000.000 đ</b>
                                <a href="javascript:void(0)" class="delete-item p-2 m-0">&times;</a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end py-2">
                        <span>Tổng tiền: </span> <b class="mx-2"> 45.000.000 đ</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-3 py-2">
            <button class="btn btn-warning d-flex justify-content-center">Thanh toán</button>
        </div>
    </div>
</div>

<script src="asset/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="asset/js/my_cart.js"></script>
</body>

</html>