<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="asset/css/my_cart.css" />
    <link rel="stylesheet" href="asset/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="asset/css/bootstrap/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="asset/css/style.css" />
    <script src="https://kit.fontawesome.com/f5d691b6b3.js" crossorigin="anonymous"></script>

<body>
    <nav class="py-2 bg-secondary border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="#" class="nav-link link-dark text-white px-2">Email: abc123@gmail.com</a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link link-dark text-white px-2">Hotline: 0378-123-123</a>
                </li>
            </ul>
            <ul class="nav d-flex flex-wrap justify-content-end">
                <li class="nav-item"><button type="button" class="btn btn-outline-light me-2">Login</button></li>
                <li class="nav-item"><button type="button" class="btn btn-dark">Sign-up</button></li>
            </ul>
            <!-- <div class="flex-shrink-0 dropdown">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="asset/img/logo2.png" alt="" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div> -->
        </div>
    </nav>
    <div class="site-header sticky-top">
        <header>
            <!-- Jumbotron -->
            <div class="p-3 text-center bg-light border-bottom">
                <div class="container">
                    <div class="row gy-3">
                        <!-- Left elements -->
                        <div class="col-lg-3 col-sm-4 col-4 text-center">
                            <a href="" target="_blank" class="">
                                <img src="asset/img/logo1.png" height="35" width="">
                            </a>
                        </div>
                        <!-- Left elements -->

                        <!-- Center elements -->
                        <div class="order-lg-last col-lg-4 col-sm-8 col-8">
                            <div class="d-flex float-end" style="cursor:pointer" onclick="openNav()">
                                <!-- <a href="#" class="me-1 border rounded py-1 px-3 text-warning nav-link d-flex align-items-center" target="_blank"> <i class="fas fa-user-alt m-1 me-md-2"></i><p class="d-none d-md-block mb-0">Sign in</p> </a>
                <a href="#" class="me-1 border rounded py-1 px-3 text-warning nav-link d-flex align-items-center" target="_blank"> <i class="fas fa-heart m-1 me-md-2"></i><p class="d-none d-md-block mb-0">Wishlist</p> </a> -->
                                <div class="border rounded py-1 px-3 text-warning nav-link d-flex align-items-center"
                                    target="_blank">
                                    <i class="fas fa-shopping-cart m-1 me-md-2"></i>
                                    <p class="d-none d-md-block mb-0">My cart</p>
                                </div>
                            </div>
                        </div>
                        <!-- Center elements -->

                        <!-- Right elements -->
                        <div class="col-lg-5 col-md-12 col-12">
                            <div class="input-group float-center justify-content-center">
                                <div class="form-outline">
                                    <input type="search" id="form1" class="form-control">
                                    <div class="form-notch">
                                        <div class="form-notch-leading" style="width: 9px;"></div>
                                        <div class="form-notch-middle" style="width: 47.2px;"></div>
                                        <div class="form-notch-trailing"></div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-warning shadow-0">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Right elements -->
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="d-flex justify-content-center py-2 bg-white border-bottom">
        <ul class="nav nav-pills">
            <!-- <li class="nav-item"><a href="#" class="nav-link link-dark active bg-warning" aria-current="page">Home</a></li> -->
            <li class="nav-item"><a href="#" class="nav-link link-dark">DELL PRECISION</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark">HP ZBOOK WORKSTATION</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark">LENOVO THINKPAD</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark">DELL LATITUDE</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark">DELL OPTIPLEX</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark">PC GAMING</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark">MÁY TÍNH ALL IN ONE</a></li>
        </ul>
    </div>