<div class="container col-xl-10 col-xxl-8 px-4 py-3">
  <div class="row align-items-center g-lg-5 py-3">
    <div class="col-lg-6 text-center text-lg-start">
      <h3 class="fw-bold lh-1 text-body-emphasis mb-3">Vertically centered hero sign-up form</h3>
      <p class="col-lg-10 fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, omnis commodi impedit
        rerum nihil quia tenetur earum unde tempore, reprehenderit molestias aliquam mollitia sint in. Nisi
        exercitationem minus nesciunt molestias?</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-6">
      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        <div class="form-floating mb-3">
          <h1>Đăng nhập</h1>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control email" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control password" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-dark btn-login" type="button">Đăng nhập</button>
        <hr class="my-4">
        <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
      </form>
    </div>
  </div>
</div>
