<div class="container p-5">
    <div class="pb-3 text-center">
        <h2>Danh sách sản phẩm yêu thích</h2>
    </div>
    <div class="">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Hình ảnh</th>
                    <th>Số lượng</th>
                    <th>Thêm vào giỏ hàng</th>
                    <th>Xóa</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>123</td>
                    <td>
                        <img width="80px" src="../asset/img/product-demo-1.webp" alt="" />
                    </td>
                    <td><input type="number" width="10px" min="1" value="1" /></td>
                    <td><button class="btn btn-warning">Thêm vào giỏ hàng</button></td>
                    <td>
                        <button class="btn btn-danger"><i class="fas fa-times"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>